.header{
background-color:   #0a2238 ;

}
.header-button{
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.mako-logo{
    
}
.facebook button{
    background-color: #0a2238;
    border: none;
    
}
.facebook-logo{
    background-color: #0a2238;
    padding: 0;
    margin: 0;

}

.mail{
    background-color: #0a2238;
    border: none;
}
.mail-logo{
    background-color: #0a2238;
    padding: 0;
    margin: 0;
}
.wether{
    font-size: 34px;
    border: none;
    background-color: #0a2238;

}
.wether-logo{
    height: 34px;
    width: 34px;
    margin: 0;
    padding: 0;
    background-color: #0a2238;
    color: #0a2238;
}
.search{
    background-color: #0a2238;
    margin: 0;
    padding: 0;
    border: none;
}
.search-logo{
    height: 34px;
    width: 34px;

}